<!DOCTYPE html>
<html lang="en">
  <title>ResumeBot</title>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href='./static/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/doodle/48/000000/retro-robot.png"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function() {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );

      ym(55617211, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/55617211"
          style="position:absolute; left:-9999px;"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>

  <body>
    <div class="container h-100">
      <div id="content">
        <div class="mb-3" style="text-align:center">
          <h1 style="font-family:monospace; font-size:50px; font-weight:500">
            ResumeBot
          </h1>
          <h3 style="font-family:monospace; font-size:25px; font-weight:500">
            by <a href="https://shakurova.io" target="_blank">Lena Shakurova</a>
          </h3>
        </div>

        <div id="chatbox" class="p-3">
          <div class="message-wrapper">
            <div class="message-box message-box-bot">
              <span class="message-text text-black"
                >👋 Hi! I'm ResumeBot, you can ask me questions about Lena
                Shakurova and I'll try to do my best to answer you!</span
              >
            </div>
          </div>
        </div>

        <div id="userInput" class="mb-4 pb-4 p-3">
          <input id="textInput" type="text" name="msg" placeholder="Message" />
        </div>

        <script>
          function scrollToChatEnd() {
            document
              .querySelector("#chatbox>.message-wrapper:last-child")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          }

          function getBotResponse() {
            var rawText = $("#textInput").val();
            if (!rawText) return;
            var userHtml =
              '<div class="message-wrapper">' +
              '<div class="message-box message-box-user">' +
              '<span class="text-white message-text">' +
              rawText +
              "</span>" +
              "</div>" +
              "</div>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);

            scrollToChatEnd();

            $.get("/get", { msg: rawText }).done(function(data) {
              var botHtml =
                '<div class="message-wrapper">' +
                '<div class="message-box message-box-bot">' +
                '<span class="text-black message-text">' +
                data +
                "</span>" +
                "</div>" +
                "</div>";
              $("#chatbox").append(botHtml);

              scrollToChatEnd();
            });
          }

          $("#textInput").keypress(function(e) {
            if (e.which == 13) {
              getBotResponse();
            }
          });
        </script>
      </div>
    </div>
  </body>
</html>
